<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="tabla.css">
</head>
<body>
	<div id="main-container">

		<table>
			<thead>
       
      	<tr>
					<th>Suspensiones</th>
        
				</tr>
			</thead>
      <tr>
					<th>Id</th>
          
				</tr>  
			<tr *ngFor="let s of suspensiones">
				<td style="cursor: pointer;">	
        <a class="figure-caption" [routerLink]="['/suspensiones', { outlets: { 'detail': [s.id] } }]">
          {{s.id}}</a></td>
			</tr>
		
		</table>
	</div>
</body>
</html>
