<p>
suspension-detail works!
</p>
<!DOCTYPE html>
<html lang="eng">
<head>
  <link rel="stylesheet" href="tabla.css">
</head>
<body>
  <div id="main-container">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>{{suspensionDetail.vigente}}</th>
        </tr>
      </thead>
      <tr>
        <td>Comentarios</td>
        <td>{{suspensionDetail.comentarios}}</td>
      </tr>
      <tr>
        <td>Duración</td>
        <td>{{clienteDetail.numeroDias}}</td>
      </tr>
     
    </table>
  </div>
</body>